body,
html,
:root {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  background-color: #e7e7e7;

  //Keeping some of Vite default styles
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.AppContainer {
  position: relative;
  height: 100%;
  width: 100%;
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  button {
    cursor: pointer;
  }
}
